extends layout_modify

block content
    div.title-div
        img(src='images/Travelr_Logo.png').logo-small
        h1= title
    br
    p Here you can modify your routing request!
    div#grid-container
        div#variable-div
            form#variable-form
                div
                    label(for='start') Start/End:!{' '}
                    input(id='start', name='start', placeholder='City Name', type='text', value="Cosenza")
                    input(id='postal_code', name='postal_code', placeholder='Postal Code', type='text', value="87100")
                div
                    label(for='max_km') Max. KM:!{' '}
                    input(id='max_km', name='max_km', placeholder='km', type='text', value='500')
                div
                    label(for='k') Max. Seats:!{' '}
                    input(id='k', name='k', placeholder='4', type='text', value='4')
                div
                    label(for='range') Utility Range:!{' '}
                    input(id='range', name='range', placeholder='-10;10', type='text', value='-10;10')
                div
                    label(for='fixed_cost') Fixed Cost:!{' '}
                    input(id='fixed_cost', name='fixed_cost', placeholder='€', type='text', value='100')
                div
                    label(for='city_cost') City Cost:!{' '}
                    input(id='city_cost', name='city_cost', placeholder='€', type='text', value='10')
        div#form-div
            h2 Insert a participant:
            form#insert-form
                label(for='name') Name:!{' '}
                input(id='name', name='name', placeholder='Name', type='text', value='Test')
                label(for='budget') Budget:!{' '}
                input(id='budget', name='budget', placeholder='Budget (€)', type='text', value="20€")
                label(for='preferences') Preferences:!{' '}
                textarea(id='preferences', name='preferences', placeholder='Preferences (Tropea (89861): 8, etc.)')
                input(type='button', value='Insert', onclick='addParticipant()').small-action
        div#list-div
            h2 Active Participants:
            div.scroll-div#participant-list
                div
                    p
                        span.name Franzi
                        span !{' '}(
                        span.budget 100€
                        span ) - {
                        span.preferences Tropea (89861): 8, Scilla (89058): 3, Reggio (89135): -2
                        // TODO: separate city name and postal code in a nice way to avoid mistakes
                        span }
                    button.small-action X
                    // TODO: add data dynamically from SQLITE
                div
                    p
                        span.name Kerstin
                        span !{' '}(
                        span.budget 200€
                        span ) - {
                        span.preferences Scilla (89058): 7, Catanzaro (88100): 2, Tropea (89861): 1
                        span }
                    button.small-action X
                div
                    p
                        span.name Ruth
                        span !{' '}(
                        span.budget 150€
                        span ) - {
                        span.preferences Tropea (89861): 7, Reggio (89135): 5, Scilla (89058): -3
                        span }
                    button.small-action X
            button.small-action(onclick='clearList()') Clear
    br
    form(action='compute', method='POST', onsubmit="return add_tour_data();")
        // to call add_tour_data before the form submits to the next page
        input(type="hidden", name='fromModify')
        input(type="hidden", id='tourData', name='tourData')
        // tourData to gather data in json and send it to next page
        input(type='submit', value='Compute').action
